.day   { background: #eee; color: black; }
.night { background: #333; color: white; }


@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }

  :root {
    --header-background: #BDCEFD;
    --header-foreground: black;
    --header-font-weight: bold;
    --table-background: #3B3B3B;
    --table-even-background: #4d4d4d;
    --table-header-foreground: #BDCEFD;
    --table-nested-border: #8EABFC;
    --table-header-nested-foreground: #BDCEFD;
    --table-header-nested-background: #404040;
  }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }

  :root {
    --header-background: #2196F3;
    --header-foreground: white;
    --header-font-weight: normal;
    --table-background: white;
    --table-even-background: #e5e5e5;
    --table-header-foreground: black;
    --table-nested-border: black;
    --table-header-nested-foreground: black;
    --table-header-nested-background: #E9E9E9;
  }
}

#mystorage {
  position: absolute;
  z-index: 9;
  background-color: var(--background);
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
}

#mystorageheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--header-background);
  color: var(--header-foreground);
  font-weight: var(--header-font-weight);
}

#myfactories {
  position: absolute;
  z-index: 9;
  background-color: var(--background);
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
}

#myfactoriesheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--header-background);
  color: var(--header-foreground);
  font-weight: var(--header-font-weight);
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--header-background);
  color: var(--header-foreground);
}

#mydiv2 {
  position: absolute;
  z-index: 8;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
}

#mydiv2header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--header-background);
  color: var(--header-foreground);
}

.table {
  border-spacing: 0;
  background-color: var(--table-background);
}

.table__nested {
  border-spacing: 3px;
  background-color: var(--table-background);
  border: 2px solid var(--table-nested-border);
}


.table__row:nth-child(even) {
  background-color: var(--table-even-background);
}

.table__header {
  color: var(--table-header-foreground);
}

.table__header__nested {
  color: var(--table-header-nested-foreground);
  vertical-align: top;
  alignment: center;
  text-align: center;
  padding-bottom: 5px;
}

.table__header__nested_2 {
  color: var(--table-header-nested-foreground);
  background-color: var(--table-header-nested-background);
  vertical-align: top;
  alignment: center;
  text-align: center;
  padding-bottom: 5px;
}

.table__header_column {
  color: var(--table-header-foreground);
  font-weight: bold;
  alignment: center;
}

.table__cell {
  padding: 8px;
}

.table__cell_nested {
  border-spacing: 3px;
  background-color: var(--table-background);
  border: 2px solid var(--table-nested-border);

}