<div id="myfactories">
    <div id="myfactoriesheader">Factories -- Owned</div>
        <table class="table__nested">

                <!-- Creating a nested table for all of the factories -->
                {% set count = namespace(value=0) %}
                {% for key, value in dict_factories.items() | sort %}
                    {% if value['owned'] == True %}
                        {% if count.value == '0' -%}
                            <tr class="table__header__nested" valign="top" align="center">
                        {% elif count.value is divisibleby 5 -%}
                            </tr>
                            <tr class="table__header__nested" valign="top" align="center">
                        {% endif %}
                <td class="table__cell_nested">
                <table class="table">
                    <tr class="table__header">
                        <th class="table__header__nested_2" colspan="2"> {{ value['name'] }} </th>
                    </tr>
                    <tr class="table__header">
                        <td class="table__header__nested"> INPUTS </td>
                        <td class="table__header__nested"> OUTPUTS </td>
                    </tr>
                    <tr valign="top">
                        <td class="table__cell">
                            <table class="table__product">
                                {% if value['inputProduct'] is defined -%}
                                    {% for product, filllevel in value['inputProduct'].items() %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ filllevel }}</td>
                                </tr>
                                    {% endfor %}
                                {% else -%}
                                <tr>
                                    <td> No Inputs Yet</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                        <td class="table__cell">
                            <table class="table">
                                {% if value['outputProduct'] is defined -%}
                                    {% for product, filllevel in value['outputProduct'].items() %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ filllevel }}</td>
                                </tr>
                                    {% endfor %}
                                {% else -%}
                                <tr>
                                    <td> No Outputs Yet</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>

                    </tr>
                </table>
                </td>
                    {% set count.value = count.value + 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
</div>
