{% extends "layout.html" %}

{% block content %}
<h1>Farming Simulator 19 SaveGame Status</h1>

<p> Day: {{ current_day }} </p>

<p>Click and hold the mouse button down while moving the DIV element</p>

<div id="mydiv">
  <div id="mydivheader">Click here to move</div>
  <p>Move</p>
  <p>this</p>
  <p>DIV</p>
</div>

<div id="mydiv2">
  <div id="mydiv2header">Click here to move</div>
  <p>Window</p>
  <p>number</p>
  <p>2</p>
</div>
{% endblock %}

{% block storage %}
<h1>Silos and Storage</h1>
<table style="width:100%">
  <tr>
    <th>Location</th>
    {% for n in storage_fill_types %}
    <th>{{n}}</th>
    {% endfor %}
  </tr>
{% endblock %}

