<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <meta name="color-scheme" content="dark light">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="static/fsstab.css" />
</head>

<body>
    {% include 'maincontent.html' %}
    {% include 'storage.html' %}
    {% include 'factories.html' %}

    <script src="static/fsstab.js"></script>
</body>
</html>