<h2>Farming Simulator 19 Save Game Status:   Day:  {{ current_day }}    Last Save:  {{ last_savegame_timestamp }}</h2>


<!--
<p>Click and hold the mouse button down while moving the DIV element</p>

<div id="mydiv">
  <div id="mydivheader">Click here to move</div>
  <p>Move</p>
  <p>this</p>
  <p>DIV</p>
</div>

<div id="mydiv2">
  <div id="mydiv2header">Click here to move</div>
  <p>Window</p>
  <p>number</p>
  <p>2</p>
</div>

-->

