<div id="mystorage">
    <div id="mystorageheader">Silos and Storage</div>
        <table class="table">
            <tr class="table__header">
                <th class="table__cell">Location</th>
                    {% for n in storage_fill_types %}
                <th>{{n|capitalize}}</th>
                    {% endfor %}
            </tr>
            {% for keys, value in dict_storage.items() | sort %}
            <tr class="table__row">
                <td class="table__header_column"> {{ keys|capitalize }}</td>
                {% for filltype in storage_fill_types %}
                <td class="table__cell">{{ value[filltype] or '-' }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
</div>
